* text=auto
*.cpp text eol=crlf
*.h text eol=crlf
*.glsl text eol=crlf
*.vert text eol=crlf
*.frag text eol=crlf
*.ps1 text eol=crlf
*.sh text eol=lf
*.md text eol=lf
*.ico binary
*.png binary
*.tar.gz binary

